<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>PokeAPI Technical</title>
  <script src="app.component.ts"></script>
</head>
<body>
  <h1>PokeAPI - the OG's</h1>
  <h6>Created by Lauren Brender.</h6>
  <div id="spacer">/ </div>
  <div id="intro">
    <h2>Intro:</h2>
    <p>Welcome to my Page, Here I am testing my skills using Angular in order to create something that displays the Original 151 Pokemon in a variety of ways.</p>
    <p>Languages used: HTML5, CSS3 & Typescript under the Angular 8 framework.</p>
    <p><a href="https://pokeapi.co">Here</a> is the API that I used for this project</p>
  </div>
  <div id="booklet"></div>
  <h2>Pokemon:</h2>
  <table id="table"></table>
</body>
</html>
