body {

  margin-bottom: 5px;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
  margin-top: 1px;
  background-color: #FF1C1C;
  text-shadow: #000000 2px 2px 2px;
}

h2 {
  color: #111111;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
margin-bottom: 0px
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: #c4c2c2;
  color: #000000;
}

h6{
  color: #ffffff;
  font-family:'Times New Roman', Times, serif;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  background-color: #FF1C1C;
  text-shadow: #000000 2px 2px 2px;


}
#spacer{
  background-color:#000000;
  margin-top: 0px;
  font-size: 5px;
}
